@use 'variables' as *;

.elm-section-head {
  display: flex;
  flex-direction: column;
  gap: $spacing-3xl;

  &__title {
    margin: 0;
    color: $color-text-primary;
    font-size: $font-size-display-sm;
    font-weight: $font-weight-bold;
    line-height: $line-height-display-sm;
    text-align: start;
  }

  &__description {
    margin: 0;
    max-width: 45rem;
    color: $color-text-primary;
    font-size: $font-size-text-md;
    font-weight: $font-weight-regular;
    line-height: $line-height-text-md;
    text-align: start;

    &.full {
      max-width: 100%;
    }
  }
}