<elm-home-hero />

<section class="section-container" [attr.aria-label]="'_Home.about.title' | translate">
  <elm-home-about />
</section>

<elm-home-services />

<section class="section-container" [attr.aria-label]="'_Home.news.title' | translate">
  <elm-home-news />
</section>

<section class="section-container" [attr.aria-label]="'_Home.partners.title' | translate">
  <elm-home-partners />
</section>

<div class="section-container elm-home-meta">
  <p>{{ '_Home.lastUpdated' | translate }}</p>
</div>