@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: block;
  border-block-end: $border-width solid $color-border-secondary;
}

.elm-page-rate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-xl;
  width: min(100%, 80rem);
  margin-inline: auto;
  padding: $spacing-xl;

  @include respond-from-large {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__prompt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $spacing-3xl;
  }

  &__question {
    font-size: $font-size-text-md;
    line-height: $line-height-text-md;
  }

  &__result {
    font-size: $font-size-text-sm;
    line-height: $line-height-text-sm;
  }
}