@use 'variables' as *;

:host {
  display: block;
}

.elm-footer {
  background: $color-primary-900;
  color: $color-text-white;
  padding-block: $spacing-5xl;

  &__inner {
    width: min(100%, 80rem);
    margin-inline: auto;
    padding-inline: calc(#{$spacing-xl} + 0.75rem);
  }

  &__title {
    width: 100%;
    align-self: flex-start;
    margin: 0;
    font-size: $font-size-text-md;
    font-weight: $font-weight-bold;
    line-height: $line-height-text-md;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: $border-width;
      margin-top: $spacing-md;
      background-color: rgba(white, 0.3);
    }
  }

  &__link {
    color: $color-text-white;
    font-size: $font-size-text-sm;
    line-height: $line-height-text-sm;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &--underline {
      text-decoration: underline;
    }
  }

  &__bottom {
    margin-top: 3rem;
  }

  .row>.col-12 {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }

  &__note {
    color: $color-neutral-200;
    font-size: $font-size-text-sm;
    line-height: $line-height-text-sm;
  }

  &__logo,
  &__registered {
    display: block;
    height: 2.1875rem;
    width: auto;
  }
}

:host ::ng-deep {

  .elm-footer__icon.p-button.p-button-secondary.p-button-outlined,
  .elm-footer__icon .p-button.p-button-secondary.p-button-outlined {
    width: 2rem;
    height: 2rem;
    gap: 0;
    padding: 0;
    background: transparent;
    border-color: rgba(white, 0.3);
    border-radius: $radius-md;
    color: $color-text-white;

    .elm {
      background-color: $color-icon-white;
    }

    &:not(:disabled):hover {
      background: $color-neutral-0;
      border-color: $color-neutral-0;
      color: $color-primary-900;

      .elm {
        background-color: $color-primary-900;
      }
    }
  }
}