@use 'variables' as *;
@use 'mixins' as *;

:host {
  display: block;
}

.elm-home-about {
  &__stats {
    margin-top: $spacing-4xl;

    .stat-item {
      @include respond-from-large {
        width: 14rem;
      }
    }
  }
}