<p-breadcrumb [model]="items()" styleClass="elm-breadcrumb">
  <ng-template #item let-item>
    @if (item.routerLink) {
    <a class="p-breadcrumb-item-link" [routerLink]="item.routerLink">
      <span class="p-breadcrumb-item-label">{{ item.label | translate }}</span>
    </a>
    } @else {
    <span class="p-breadcrumb-item-label">{{ item.label | translate }}</span>
    }
  </ng-template>
  <ng-template #separator>
    <span class="elm chevron-left" aria-hidden="true"></span>
  </ng-template>
</p-breadcrumb>
