@use 'variables' as *;
@use 'mixins' as *;

.p-button {
  height: 2.5rem;
  border-radius: $radius-sm;
  padding: 0 $spacing-xl;
  font-weight: $font-weight-medium;
  line-height: $line-height-text-md;
  gap: $spacing-xs;

  .p-button-label {
    font-weight: $font-weight-medium;
  }

  &.p-button-contrast {
    color: $color-text-primary;
  }

  &.p-button-secondary {
    background: $color-neutral-0;
    border-color: $color-neutral-0;
    color: $color-text-primary;

    &:not(:disabled):hover {
      background: $color-neutral-50;
      border-color: $color-neutral-50;
      color: $color-text-primary;
    }

    &.p-button-outlined {
      border-color: $color-neutral-300;
    }
  }


  @include rtl-only {
    .p-button-label {
      order: 2;
    }
  }
}